// Old Color Schemes 1
// $color-default: #2D3D50;
// $color-primary: #1474D5;

// Old Color Schemes 2
//$color-default: #003262;
//$color-primary: #FDB515;
//$color-secondary: #00B0DA;


// Color Schemes
$color-default: #222222;
$color-primary: #003262;
$color-secondary: #FDB515;
$color-success: #00B0DA;
$color-danger: #EE1F60;
$color-disabled: #DBDBDB;
$color-shade: #FAFAFA;

// Mixins
@mixin transition-default {
  transition: all 0.3s ease;
}