// Old Color Schemes
// $color-default: #2D3D50;
// $color-primary: #1474D5;


// Color Schemes
$color-default: #003262;
$color-primary: #FDB515;
$color-secondary: #00B0DA;
$color-disabled: #DBDBDB;

// Mixins
@mixin transition-default {
  transition: all 0.3s ease;
}